<div class="credits">
  <div class="panel">
    <h1>Image credits</h1>
    <ul>
      <li>Pigeon created by Cezary Lopacinski from the Noun Project</li>
      <li>Lego created by Marco Petrucci from the Noun Project</li>
      <li>Kokeshi created by Simon Child from the Noun Project</li>
      <li>Face created by Nicolas Simon from the Noun Project</li>
      <li>Settings created by Arthur Shlain from the Noun Project</li>
      <li>people by Andrew Hainen from the Noun Project</li>
      <li>Touch-Your-Toes created by N.K.Narasimhan from the Noun Project</li>
      <li>Network created by Fernando Vasconcelos from the Noun Project</li>
      <li>User created by José Campos from the Noun Project</li>
      <li>Lock created by Convoy from the Noun Project</li>
    </ul>
  </div>
</div>