<div class="demos">
  <!-- <iframe src="http://icecomm.tumblr.com/" width="800" height="1400" frameborder="0"></iframe>  -->

  <div class="demo">
    <h3>Skype in the Browser</h3>
    <img src="/client/assets/img/appearin.png" alt="">
    <div class="caption">
      <p>In-browser video chat app demo. Icecomm makes it possible to create a multi-way video chat app that works in the browser and on mobile in under 10 lines of code</p>
      <a href="http://jsfiddle.net/TawnyOwl/j228hopd/">View the source code</a>
    </div>
  </div>
  <div class="demo">
    <h3>Tic Tac Toe</h3>
    <img src="/client/assets/img/tictactoe-sm.png" alt="">
    <div class="caption">
      <p>Tic Tac Toe game built by Alex Zai using Icecomm, HTML5 and javascript for live game data transfer and in-game chat</p>
      <a href="http://jsfiddle.net/TawnyOwl/9odfL1t8/">View the source code</a>
    </div>
  </div>
  <div class="demo">
    <h3>CodeFriends</h3>
    <img src="/client/assets/img/codefriends.png" alt="">
    <div class="caption">
      <p>Live shared programming app built by Catherine, Bui, Chase Ellsworth, Doug Phung and Jorge Silva that uses Icecomm to provide lightening fast video chat</p>
      <a href="https://github.com/code-friends/CodeFriends">View the source code</a>
    </div>
  </div>
  <div class="demo">
    <h3>P2P Fileshare</h3>
    <img src="/client/assets/img/fileshare-sm.png" alt="">
    <div class="caption">
      <p>Peer to Peer file sharing app built by Tony Rizko and Will Sentance. Icecomm makes it possible to send the files directly without a server</p>
    </div>
  </div>

</div>