<div class="demos">
  <!-- <iframe src="http://icecomm.tumblr.com/" width="800" height="1400" frameborder="0"></iframe>  -->
  
  <div class="demo">
    <img src="/client/assets/img/codefriends.png" alt="">
    <div class="caption">
      <h3>Code with Friends</h3>
      <p>Live shared programming app that uses Icecomm to provide lightening fast video and text chat</p>
      <a href="https://github.com/code-friends/CodeFriends">View source</a>
    </div>
    </div>
  <div class="demo">
    <div class="img"></div>
    <div class="caption">Youtube watch together Live</div>
  </div>
  <div class="demo">
    <div class="img"></div>
    <div class="caption">P2P Fileshare</div>
  </div>
  <div class="demo">
    <div class="img"></div>
    <div class="caption">Tic Tac Toe</div>
  </div>
</div>