<div class="row login-form">
  <div class="columns panel">
  <h1>
    Enter login information
  </h1>
  <div class="alert-box alert alert-danger" ng-show="flash.getMessage()">
    Alerting dummy danger! {{flash.getMessage()}}
  </div>

    <form ng-submit="forgotPassword(username)" name="forgot_password_form" novalidate>
      <div>
        <!-- <label>Username:</label> -->
        <div class="input-icon">
          <span>
            <img src="client/assets/img/head.svg">
          </span>
        </div>
        <input type="text" name="username" ng-model="username" placeholder="Username"/>
      </div>
      <div>
        <button type="submit" value="Submit">Send Email</button>
      </div>
    </form>
  </div>

</div>
