<div class="row login-form">
  <div class="columns panel">
  <h1>
    Enter email
  </h1>
  <div class="alert-box alert alert-danger" ng-show="flash.getMessage()">
    Alerting dummy danger! {{flash.getMessage()}}
  </div>

    <form ng-submit="forgotPassword(email)" name="forgot_password_form" novalidate>
      <div>
        <!-- <label>Username:</label> -->
        <div class="input-icon">
          <span>
            <img src="client/assets/img/head.svg">
          </span>
        </div>
        <input type="text" name="email" ng-model="email" placeholder="Email"/>
      </div>
      <div>
        <button ng-disabled="waitingForValidEmail" type="submit" value="Submit">Send Email</button>
      </div>

      <!-- sorry Will -->
      <div ng-show="hasEmailBeenSent">
      An email has been sent with instructions on how to reset your password
      </div>
      <div ng-show="invalidEmail" class="status">
      Could not find email
      </div>
    </form>
  </div>

</div>
