<div class="hero">
  <div class="row">

    <div class="large-12 columns intro-text">
      <span class="highlight">ICECOMM BETA IS HERE</span>
    </div>
    <div class="large-12 columns sub-intro-text">
      ADD SERVERLESS VIDEO CHAT AND DATA TRANSFER TO YOUR SITE
    </div>
    
  </div>
</div>

<div class="row screens">
  <div class="medium-12 small-12 large-5 columns" ng-controller="AnimationCtrl">
    <div class="term" ng-class="{'shake': isActive==true}">
      <div class="chrome">
        <span class="btn btn-term close" data-ng-click="doCtrlStuff()"></span>
        <span class="btn btn-term min"></span>
        <span class="btn btn-term max" ></span>
        <div class="chromeLink"><a href="http://jsfiddle.net/TawnyOwl/j228hopd/" target="_blank">http://jsfiddle.net/TawnyOwl/j228hopd/</a></div>
      </div>
      <div class="shell codebase">
        <code class="slideInRightTop"  ng-mouseover="count = count + 1" ng-init="count=0"> var comm = new Icecomm('$APItoken');<br>
   comm.connect('my_room');</code>
        <code class="slideInRightMiddle">comm.on('local', function(options) {<br>
                &nbsp;&nbsp; localVideo.src = options.stream;<br>
});
</code>
<code class="slideInRightBottom">
  comm.on('connected', function(options){<br>
    &nbsp;&nbsp;remoteVideo.src = options.stream;<br>
      <!-- &nbsp;&nbsp;&nbsp;&nbsp;createRemoteVideo(URL.createObjectURL(data));<br> -->
    <!-- &nbsp;&nbsp;}<br> -->
  });
</code>


      </div>
    </div>
  </div>


  <div class="medium-12 large-7 columns">
    <div class="videoscreens">
      <div class="connection fadeIn">
        <span class="connectionDot one">.</span><span class="connectionDot two">.</span><span class="connectionDot three">.</span>​
      </div>
      <div class="connection fadeIn">
        <span class="connectionDot one">.</span><span class="connectionDot two">.</span><span class="connectionDot three">.</span>​<span class="connectionDot four">.</span>​<span class="connectionDot five">.</span>​<span class="connectionDot six">.</span>​<span class="connectionDot seven">.</span>​<span class="connectionDot eight">.</span>​
      </div>
      <div class="connection fadeIn">
        <span class="connectionDot one">.</span><span class="connectionDot two">.</span><span class="connectionDot three">.</span>​<span class="connectionDot four">.</span>​<span class="connectionDot five">.</span>​<span class="connectionDot six">.</span>​<span class="connectionDot seven">.</span>​<span class="connectionDot eight">.</span>​
      </div>

      <div class="screen lego">
        <div class="video-screen">
          <div class="face"></div>
          <div class="light blink_me"></div>
        </div>
      </div>
      <div class="screen playmobil">
        <div class="video-screen">
          <div class="face"></div>
          <div class="light blink_me"></div>
        </div>
      </div>
      <div class="screen doll">
        <div class="video-screen">
          <div class="face"></div>
          <div class="light blink_me"></div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row jsfiddle">
  <div class="medium-12 columns">
    <a href="http://jsfiddle.net/TawnyOwl/j228hopd/"><div class="jsfiddleLink">View the demo at JSFiddle</div></a>
  </div>
</div>


<div class="row overview">
  <div class="medium-6 columns setup">
    <img src="client/assets/img/setup.svg"></img>
    <h1>Effortless setup</h1>
    <p>With only six core methods, developers can easily create dynamic wep apps to transfer data and media between peers.</p>
  </div>
  <div class="medium-6 columns multiple-users">
    <img src="client/assets/img/group.svg"></img>
    <h1>Multiple users</h1>
    <p>IceComm allows developers to create connected web apps with many rooms and users.</p>
  </div>
</div>
<div class="row overview">
  <div class="medium-6 columns flexibility">
    <img src="client/assets/img/flexibility.svg"></img>
    <h1>Flexibility</h1>
    <p>Icecomm includes all the power of WebRTC with complete functionality, accessed through a handful of intuitive methods.</p>
  </div>
  <div class="medium-6 columns data-channels">
    <img src="client/assets/img/data-channels.svg"></img>
    <h1>Powered By WebRTC</h1>
    <p>WebRTC is the leading technology in fast and secure peer to peer connection. </p>
  </div>
</div>

<div class="row chrome">
  <div class="medium-12 columns">
    <p>Built for Chrome</p>
    <img src="client/assets/img/chrome.svg"></img>
  </div>
</div>