<div class="hero">
  <div class="row">
    
    <div class="large-12 columns intro-text">
      ICECOMM BETA IS HERE
    </div>
    <div class="large-12 columns sub-intro-text">
      POWER UP YOUR APPS WITH SERVERLESS REALTIME COMMUNICATION
    </div>
  </div>
</div>

<div class="row screens">
  <div class="medium-12 small-12 large-5 columns" ng-controller="AnimationCtrl">
    <div class="term" ng-class="{'shake': isActive==true}">
      <div class="chrome">
        <span class="btn btn-term close" data-ng-click="doCtrlStuff()"></span>
        <span class="btn btn-term min"></span>
        <span class="btn btn-term max" ></span>
      </div>
      <div class="shell codebase">
        <code class="slideInRightTop"  ng-mouseover="count = count + 1" ng-init="count=0"> var comm = new IceComm('$APItoken');<br>
   comm.connect('someroom');</code>
        <code class="slideInRightMiddle">comm.on('local', function(options) {<br>
                &nbsp;&nbsp; localVideo.src = options.stream;<br>
});
</code>
<code class="slideInRightBottom">
  comm.on('connected', function(options){<br>
    &nbsp;&nbsp;remoteVideo.src = options.stream;<br>
      <!-- &nbsp;&nbsp;&nbsp;&nbsp;createRemoteVideo(URL.createObjectURL(data));<br> -->
    <!-- &nbsp;&nbsp;}<br> -->
  });
</code>


      </div>
    </div>
  </div>

  <div class="medium-12 large-7 columns">
    <div class="videoscreens">
      <div class="connection fadeIn">
        <span class="connectionDot one">.</span><span class="connectionDot two">.</span><span class="connectionDot three">.</span>​
      </div>
      <div class="connection fadeIn">
        <span class="connectionDot one">.</span><span class="connectionDot two">.</span><span class="connectionDot three">.</span>​<span class="connectionDot four">.</span>​<span class="connectionDot five">.</span>​<span class="connectionDot six">.</span>​<span class="connectionDot seven">.</span>​<span class="connectionDot eight">.</span>​
      </div>
      <div class="connection fadeIn">
        <span class="connectionDot one">.</span><span class="connectionDot two">.</span><span class="connectionDot three">.</span>​<span class="connectionDot four">.</span>​<span class="connectionDot five">.</span>​<span class="connectionDot six">.</span>​<span class="connectionDot seven">.</span>​<span class="connectionDot eight">.</span>​
      </div>

      <div class="screen lego">
        <div class="video-screen">
          <div class="face"></div>
          <div class="light blink_me"></div>
        </div>
      </div>
      <div class="screen playmobil">
        <div class="video-screen">
          <div class="face"></div>
          <div class="light blink_me"></div>
        </div>
      </div>
      <div class="screen doll">
        <div class="video-screen">
          <div class="face"></div>
          <div class="light blink_me"></div>
        </div>
      </div>
    </div>
    
  </div>

</div>

<div class="row overview">
  <div class="medium-6 columns setup">
    <img src="client/assets/img/setup.svg"></img>
    <h1>Effortless setup</h1>
    <p>Curabitizzle izzle diam quis nisi shizznit mollizzle. Suspendisse bow wow wow. </p>

  </div>
  <div class="medium-6 columns multiple-users">
    <img src="client/assets/img/group.svg"></img>
    <h1>Multiple users</h1>
    <p>Nunc rizzle. Suspendisse izzle placerizzle dizzle. Curabitizzle eu ante.</p>
  </div>
  <div class="medium-6 columns flexibility">
    <img src="client/assets/img/flexibility.svg"></img>
    <h1>Flexibility</h1>
    <p>Donizzle posuere auctor mauris. For sure a get down get down izzle</p>
  </div>
  <div class="medium-6 columns data-channels">
    <img src="client/assets/img/data-channels.svg"></img>
    <h1>Data channels</h1>
    <p>Donizzle posuere auctor mauris. For sure a get down get down izzle</p>
  </div>
</div>