<div class="hero">
  <div class="row">
    <div class="large-12 columns intro-text">
      ICECOMM BETA IS HERE
    </div>
    <div class="large-12 columns sub-intro-text">
      POWER UP YOUR APPS WITH VIDEO CHAT
    </div>
  </div>
</div>

<div class="row screens">
  <div class="medium-12 small-12 large-5 columns" ng-controller="AnimationCtrl">
    <div class="term" ng-class="{'shake': isActive==true}">
      <div class="chrome">
        <span class="btn btn-term close" data-ng-click="doCtrlStuff()"></span>
        <span class="btn btn-term min"></span>
        <span class="btn btn-term max" ></span>
      </div>
      <div class="shell codebase">
        <code class="slideInRightTop">var comm = new IceComm('test');</code>
        <code class="slideInRightMiddle">comm.on('room', function(options) {<br>
                &nbsp;&nbsp; createRemoteVideo(options.stream);<br>
});
</code>
<code class="slideInRightBottom">
  comm.ready(function(data) { <br>
    &nbsp;&nbsp;for (var key in data.remoteStreams) {<br>
      &nbsp;&nbsp;&nbsp;&nbsp;createRemoteVideo(URL.createObjectURL(data));<br>
    &nbsp;&nbsp;}<br>
  });
</code>


      </div>
    </div>
  </div>

  <div class="medium-12 large-7 columns">
    <div class="videoscreens">
      <div class="connection fadeIn">
        <span class="connectionDot one">.</span><span class="connectionDot two">.</span><span class="connectionDot three">.</span>​
      </div>
      <div class="connection fadeIn">
        <span class="connectionDot one">.</span><span class="connectionDot two">.</span><span class="connectionDot three">.</span>​<span class="connectionDot four">.</span>​<span class="connectionDot five">.</span>​<span class="connectionDot six">.</span>​<span class="connectionDot seven">.</span>​<span class="connectionDot eight">.</span>​
      </div>
      <div class="connection fadeIn">
        <span class="connectionDot one">.</span><span class="connectionDot two">.</span><span class="connectionDot three">.</span>​<span class="connectionDot four">.</span>​<span class="connectionDot five">.</span>​<span class="connectionDot six">.</span>​<span class="connectionDot seven">.</span>​<span class="connectionDot eight">.</span>​
      </div>

      <div class="screen lego">
        <div class="video-screen fadeInSecond">
          <div class="face"></div>
          <div class="light blink_me"></div>
        </div>
      </div>
      <div class="screen playmobil">
        <div class="video-screen fadeInSecond">
          <div class="face"></div>
          <div class="light blink_me"></div>
        </div>
      </div>
      <div class="screen doll">
        <div class="video-screen fadeInSecond">
          <div class="face"></div>
          <div class="light blink_me"></div>
        </div>
      </div>
    </div>
    
  </div>

</div>

<div class="row overview">
  <div class="medium-4 columns">
    Real-time analytics
    Push data to clients that gets represented as real-time counters, charts or logs.
  </div>
  <div class="medium-4 columns">
    Binary streaming
    Starting in 1.0, it's possible to send any blob back and forth: image, audio, video.
  </div>
  <div class="medium-4 columns">
    Instant messaging and chat
    Socket.IO's "Hello world" is a chat app in just a few lines of code.
  </div>
</div>