<div class="login-form">
  <form action="/login" method="post">
    <div>
      <label>Username:</label>
      <input type="text" name="username"/><br/>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password"/>
    </div>
    <div>
      <input type="submit" value="Submit"/>
    </div>
  </form>
  <a href="#signup"> Sign Up </a>


</div>


  <div class="form-group">
    <label for="email" class="emailz">Email address</label>

    <div class="input-icon">
      <span><span class="glyphicon glyphicon-user"></span></span>
    </div><input autofocus="true" class="form-control" id="email" name="email"
    placeholder="Email address" tabindex="1" type="email">
  </div>


