<div class="row login-form">
  <div class="columns panel">
  <h1>
    Log In to Icecomm
  </h1>
    <form action="/login" method="post">
      
      <div>
        <!-- <label>Username:</label> -->
        <div class="input-icon">
          <span>
            <span class="fa fa-user"></span>
          </span>
        </div>
        <input type="text" name="username" placeholder="Username"/>
      </div>
      
      <div>
        <!-- <label>Password:</label> -->
        <div class="input-icon">
          <span>
            <span class="fa fa-lock"></span>
          </span>
        </div>
        <input type="password" name="password" placeholder="Password"/>
      </div>
      <div>
        <button type="submit" value="Login">Log In</button>
      </div>
    </form>
    <a class="panel-footer" href="/signup">
      New to Icecomm? &nbsp;<span>Sign Up</span>
    </a>
  </div>


</div>