<div class="login-form">
  <div class="panel">
  <h1>
    Login to Icecomm
  </h1>
    <form action="/login" method="post">
      <div>
        <label>Username:</label>
        <div class="input-icon">
          <span>
            <span class="fa fa-user"></span>
          </span>
        </div>
        <input type="text" name="username" placeholder="Username"/><br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password"/>
      </div>
      <div>
        <button type="submit" value="Login"></button>
      </div>
    </form>
    <a href="#signup"> Sign Up </a>
  </div>


</div>