<div class="row login-form">
  <div class="columns panel">
  <h1>
    Please Enter Your New Password
  </h1>
  <div class="alert-box alert alert-danger" ng-show="differentPasswordError">
    Passwords are not the same
  </div>

    <form ng-submit="resetPassword(password)" name="forgot_password_form" novalidate>
      <div>
        <!-- <label>Username:</label> -->
        <div class="input-icon">
          <span>
            <img src="client/assets/img/head.svg">
            <!-- <span class="fa fa-user"></span> -->
          </span>
        </div>
        <input type="password" name="password" ng-model="password" placeholder="password"/>
      </div>
      <div>
        <!-- <label>Username:</label> -->
        <div class="input-icon">
          <span>
            <img src="client/assets/img/head.svg">
            <!-- <span class="fa fa-user"></span> -->
          </span>
        </div>
        <input type="password" name="verify_password" ng-model="verify_password" placeholder="verify_password"/>
      </div>
      <div>
        <button type="submit" value="Submit">Reset Password</button>
      </div>
    </form>
  </div>

</div>
