/*
Error: Invalid CSS after "... height: 290px;": expected ";", was ".screen {"
        on line 558 of scss/app.scss

553: 
554: .videoscreens {
555:   position: relative;
556:   width: 100%
557:   // height: 290px;
558:   .screen {
559:     background: url('../assets/img/laptop-screen.png') no-repeat;
560:     background-size: 230px 137px;
561:     width: 242px;
562:     height: 143px;
563:   }

Backtrace:
scss/app.scss:558
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:761:in `block in try_declaration'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1141:in `call'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1141:in `rethrow'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:766:in `try_declaration'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/willsentance/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"... height: 290px;\": expected \";\", was \".screen {\"\A         on line 558 of scss/app.scss\A \A 553: \A 554: .videoscreens {\A 555:   position: relative;\A 556:   width: 100%\A 557:   // height: 290px;\A 558:   .screen {\A 559:     background: url('../assets/img/laptop-screen.png') no-repeat;\A 560:     background-size: 230px 137px;\A 561:     width: 242px;\A 562:     height: 143px;\A 563:   }"; }
