@import url("../../bower_components/foundation/css/foundation.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@font-face {
  font-family: 'GothamXLight';
  src: asset-url("assets/fonts/Gotham-XLight.otf");
  font-weight: light;
  font-style: normal; }
@font-face {
  font-family: 'BrandonGrotesque';
  src: url("../assets/fonts/brandon_re.ttf");
  font-weight: regular;
  font-style: normal; }
body {
  font-size: 24px; }

#apiDomain {
  font-size: 13px;
  text-align: center;
}

#change-api-key {
  width: 15%;
  margin-left: 2%;
  height: 30px;
  font-size: 14px;
  padding: 3px 3px 3px 3px !important;
}

#view-set-api {
  width: 100%;
  float: left;
}

#api-key-display {
  padding: 10px !important;
  font-size: 11px;
  height: 30px;
  text-align: center;
  float: left;
  width: 82%;
  /*padding: 0.5rem 0.75em !important;*/
  margin: 7px 1px 3px 0px;
  background-color: #fff;
  border-radius: 0;
}

#setDomainBtn {
  width: 26%;
  margin-left: 2%;
  /*display: inline-block;*/
  /*font-size: 11px;*/
}

#domainInput {
  width: 72%;
  float: left;
  text-align: left;
  padding: 0.5rem 0.75em !important;
  /*display: inline-block;*/
}

#apiDomainForm {
  width: 100%;
  float: left;
  /*text-align: center;*/
}

.main {
  min-height: 100%;
  padding-top: 50px; }

.row {
  max-width: 70rem; }

.top-bar {
  background: #fff;
  height: 70px;
  padding: 25px 10% 0 10%; }
  .top-bar .title-area {
    flat: left; }
  .top-bar .namelogo {
    content: url("../assets/img/icecomm-logo-lg.png");
    width: 180px;
    padding-bottom: 20px; }
  .top-bar .top-bar-section ul {
    padding: 15px 0px 10px 0px;
    width: auto;
    height: auto !important;
    display: inline; }
    .top-bar .top-bar-section ul a {
      font-family: 'Open Sans', sans-serif !important; }
    .top-bar .top-bar-section ul.left {
      padding-left: 30px; }
  .top-bar .top-bar-section .hello-username a {
    cursor: default; }
    .top-bar .top-bar-section .hello-username a:hover {
      background: #fff !important;
      color: #333; }
  .top-bar li:not(.has-form) a:not(.button) {
    background: #fff;
    color: #333; }

.hero {
  text-align: center; }
  .hero .intro-text {
    color: #333;
    font-family: 'BrandonGrotesque';
    font-size: 40px;
    padding-top: 7%;
    padding-bottom: 5px; }
  .hero .sub-intro-text {
    font-size: 16px; }

.screens {
  padding: 50px 50px 0 50px; }
  .screens .term {
    margin: 0 auto;
    width: 100%;
    max-width: 500px; }

body {
  font-weight: 400;
  background-color: #fff; }

.footer {
  padding-bottom: 40px;
  background: #333;
  color: #fff;
  font-family: 'Open Sans', sans-serif; }
  .footer p {
    margin-bottom: 0;
    position: relative;
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    -ms-transform: translateY(80%);
    -o-transform: translateY(80%);
    transform: translateY(80%); }
  .footer li > a {
    color: #fff; }
  .footer .inline-list {
    margin-bottom: 0;
    position: relative;
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    -ms-transform: translateY(80%);
    -o-transform: translateY(80%);
    transform: translateY(80%); }
  .footer div > div > div {
    width: 50%; }
  .footer .footer-links {
    padding-right: 50px; }
  .footer .copyright {
    padding-left: 50px; }

@media only screen and (min-width: 40.063em) {
  .button-group {
    float: right; } }
.namelogo {
  padding: 20px 0px 10px 0; }

@media only screen and (min-width: 40.063em) {
  .namelogo {
    padding-bottom: 20px; } }
.namelogo h1 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center; }

@media only screen and (min-width: 40.063em) {
  .namelogo h1 {
    font-size: 16px;
    text-align: left; } }
@media only screen and (min-width: 64.063em) {
  .namelogo h1 {
    font-size: 24px;
    text-align: left; } }
@media only screen and (min-width: 40.063em) {
  .intro-text {
    padding-top: 25%; } }
@media only screen and (min-width: 64.063em) {
  .intro-text {
    padding-top: 18%; } }
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  opacity: 0.8; }

.term, .term .chrome, .term .chrome {
  border: solid 2px #777; }

.term {
  display: block;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: left; }
  .term .shell {
    min-height: 130px;
    overflow: hidden; }
  .term .chrome {
    height: 34px;
    padding-left: 10px;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none; }
    .term .chrome .btn {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 100%; }
  .term .chrome:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .term .shell {
    padding: 10px;
    color: #777; }
  .term .workshopper {
    background: #F8F0BD;
    padding: 2px; }

code {
  border: none;
  font-size: 13px !important; }

.term .workshopper code {
  border: 0 none; }

.term code {
  display: block;
  margin: 12px 0;
  padding: 4px 10px;
  border-left: 8px solid #3879D9;
  border-radius: 0;
  background: none; }

.term .chrome .btn:hover {
  border-color: #404040; }

.term .chrome .btn.close {
  background: #DF7065; }

.term .chrome .btn.max {
  background: #5BCC8B; }

.term .chrome .btn.min {
  background: #E6BB46; }

.term.max {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: none; }

.term.min {
  position: absolute;
  bottom: 0; }

.term.min .shell {
  min-height: 0;
  height: 0;
  padding: 0; }

.term.min .chrome {
  border: 0 none; }

.light {
  background: #5BCC8B;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  top: -26px;
  left: 36px; }

.videoscreens {
  position: relative;
  width: 500px;
  height: 290px;
  margin: 0 auto; }
  .videoscreens .screen {
    background: url("../assets/img/laptop-screen.png") no-repeat;
    background-size: 95%;
    width: 46.3%;
    height: 8.95rem; }
  .videoscreens .lego {
    position: absolute; }
    .videoscreens .lego .video-screen .face {
      background: url("../assets/img/lego.png") no-repeat;
      background-size: 80px 67px; }
  .videoscreens .playmobil {
    position: absolute;
    right: 0; }
    .videoscreens .playmobil .video-screen .face {
      background: url("../assets/img/kimono.png") no-repeat;
      background-size: 74px 77px; }
  .videoscreens .doll {
    position: absolute;
    top: 10rem;
    left: 9rem; }
    .videoscreens .doll .video-screen .face {
      background: url("../assets/img/playmobil.png") no-repeat;
      background-size: 80px 67px; }
  .videoscreens .video-screen {
    position: relative;
    top: 30px;
    left: 63px; }
    .videoscreens .video-screen .face {
      position: absolute;
      width: 100px;
      height: 100px; }

.connection:nth-of-type(1) {
  position: absolute;
  top: 10px;
  left: 225px; }

.connection:nth-of-type(2) {
  position: absolute;
  top: 130px;
  left: 65px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg); }

.connection:nth-of-type(3) {
  position: absolute;
  top: 130px;
  left: 360px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg); }

.connectionDot {
  color: #3879D9;
  opacity: 0;
  position: relative;
  font-size: 55px;
  font-family: 'BrandonGrotesque' !important; }

.overview {
  padding: 150px 0 0 0;
  color: #333;
  font-family: 'Open Sans', sans-serif !important; }
  .overview + .overview {
    padding: 0; }
  .overview h1 {
    font-size: 18px; }
  .overview p {
    font-size: 14px; }
  .overview img {
    float: left;
    width: 75px;
    height: 75px;
    margin: 5px 20px 70px 0px; }
  .overview .columns {
    margin-bottom: 100px; }
  .overview .medium-6 {
    padding-right: 50px; }

.demos {
  padding: 40px 15%;
  position: relative; }
  .demos .demo {
    width: 640px;
    position: relative;
    margin: 0 auto 50px; }
    .demos .demo h3 {
      font-weight: 800;
      padding: 0 0 20px; }
    .demos .demo p {
      text-align: left;
      color: #333; }
    .demos .demo .img {
      position: relative;
      margin: 0 auto;
      width: 640px; }
    .demos .demo .caption {
      padding-top: 10px;
      text-align: center; }

.getting-started {
  padding: 0 8% 100px 8%; }

.login-form {
  padding: 50px 0; }

.forgot {
  display: block;
  text-align: center !important;
  color: #333;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  width: 100%; }
  .forgot:hover {
    color: #333; }

.panel {
  width: 430px;
  margin: 0 auto;
  background: #fff;
  border: none;
  float: none;
  max-width: 100%; }
  .panel h1 {
    text-align: center;
    font-size: 24px;
    color: #3879D9;
    font-weight: 200;
    letter-spacing: 1px; }
  .panel p {
    font-size: 12px;
    color: #333;
    padding: 20px 0;
    text-align: center; }
  .panel form {
    font-family: 'Open Sans', sans-serif !important;
    padding: 10px 15px; }
    .panel form div {
      margin-bottom: 20px; }
    .panel form label {
      text-align: left;
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0; }
    .panel form .input-icon {
      position: relative; }
    .panel form .input-icon > span {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      line-height: 16px; }
      .panel form .input-icon > span img, .panel form .input-icon > span .fa {
        border-right: 1px solid #cbcbd2;
        padding: 0px 8px 0px 4px;
        color: #3879D9;
        position: relative; }
      .panel form .input-icon > span .fa-email {
        font-weight: 700; }
    .panel form button {
      width: 100%;
      color: #fff;
      background-color: #3879D9;
      background-image: -webkit-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0, rgba(130, 202, 255, 0.3) 100%);
      border-radius: 5px;
      border: none;
      padding-left: 18px;
      padding-right: 18px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-color: #79589f; }
  .panel input {
    box-shadow: inset 0 1px 2px rgba(203, 203, 210, 0.4);
    height: 44px;
    padding-left: 48px !important;
    color: #3f3f44;
    border: 1px solid #cbcbd2;
    border-radius: 4px; }
    .panel input:focus {
      background: #fff !important; }
  .panel .panel-footer {
    padding: 20px;
    display: block;
    font-size: 17px;
    color: #878797;
    font-weight: 200;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center; }
    .panel .panel-footer span {
      color: #3879D9;
      text-decoration: underline; }

input[type=text], textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD; }

input[type=text]:focus, textarea:focus {
  box-shadow: 0;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #3879D9; }

.account .panel {
  padding-top: 80px; }

button {
  width: 100%;
  color: #fff;
  background-color: #3879D9;
  background-image: -webkit-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0, rgba(130, 202, 255, 0.3) 100%);
  border-radius: 5px;
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-color: #79589f; }
  button:hover, button:focus {
    background-color: #3879D9 !important; }

.alert {
  background-color: #d64242;
  border-color: #d64242;
  color: #FFF;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857; }

.notify {
  background-color: #333;
  border-color: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857; }

.blink_me {
  -webkit-animation-name: blinker;
  -moz-animation-name: blinker;
  animation-name: blinker;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-moz-keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-webkit-keyframes slideInRight {
  0% {
    transform: translateX(110%);
    visibility: visible; }
  100% {
    transform: translateX(0); } }
@-moz-keyframes slideInRight {
  0% {
    transform: translateX(110%);
    visibility: visible; }
  100% {
    transform: translateX(0); } }
@keyframes slideInRight {
  0% {
    transform: translateX(110%);
    visibility: visible; }
  100% {
    transform: translateX(0); } }
.slideInRightTop {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slideInRight;
  -moz-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s; }

.slideInRightMiddle {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slideInRight;
  -moz-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }

.slideInRightBottom {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slideInRight;
  -moz-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

.fadeInSecond {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0); } }
@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -moz-transform: translate3d(10px, 0, 0); } }
@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    -o-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
.shake {
  -webkit-animation: shake 2.3s;
  -moz-animation: shake 2.3s;
  animation: shake 2.3s; }

.one {
  -webkit-animation: dot 1.3s infinite;
  -moz-animation: dot 1.3s infinite;
  animation: dot 1.3s infinite;
  -webkit-animation-delay: 50ms;
  -moz-animation-delay: 50ms;
  animation-delay: 50ms; }

.two {
  -webkit-animation: dot 1.3s infinite;
  -moz-animation: dot 1.3s infinite;
  animation: dot 1.3s infinite;
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  animation-delay: 100ms; }

.three {
  -webkit-animation: dot 1.3s infinite;
  -moz-animation: dot 1.3s infinite;
  animation: dot 1.3s infinite;
  -webkit-animation-delay: 150ms;
  -moz-animation-delay: 150ms;
  animation-delay: 150ms; }

.four {
  -webkit-animation: dot 1.3s infinite;
  -moz-animation: dot 1.3s infinite;
  animation: dot 1.3s infinite;
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  animation-delay: 200ms; }

.five {
  -webkit-animation: dot 1.3s infinite;
  -moz-animation: dot 1.3s infinite;
  animation: dot 1.3s infinite;
  -webkit-animation-delay: 250ms;
  -moz-animation-delay: 250ms;
  animation-delay: 250ms; }

.six {
  -webkit-animation: dot 1.3s infinite;
  -moz-animation: dot 1.3s infinite;
  animation: dot 1.3s infinite;
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms; }

.seven {
  -webkit-animation: dot 1.3s infinite;
  -moz-animation: dot 1.3s infinite;
  animation: dot 1.3s infinite;
  -webkit-animation-delay: 350ms;
  -moz-animation-delay: 350ms;
  animation-delay: 350ms; }

.eight {
  -webkit-animation: dot 1.3s infinite;
  -moz-animation: dot 1.3s infinite;
  animation: dot 1.3s infinite;
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  animation-delay: 400ms; }

@-webkit-keyframes dot {
  0% {
    opacity: 0.01; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
@-moz-keyframes dot {
  0% {
    opacity: 0.01; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
@keyframes dot {
  0% {
    opacity: 0.01; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
@media all and (max-width: 640px) {
  .top-bar {
    padding: 0px;
    height: 45px; }
    .top-bar .namelogo {
      width: 130px;
      padding-top: 12px; }
    .top-bar .name {
      background: #fff; }
    .top-bar .right {
      float: none !important; }
    .top-bar .left {
      padding-left: 0px !important; }
    .top-bar .top-bar-section ul {
      width: 100%;
      padding-top: 0px; }
    .top-bar .hello-username {
      display: none; }

  .hero .intro-text {
    font-size: 30px;
    padding-bottom: 10px; }
  .hero .sub-intro-text {
    font-size: 11px;
    padding-bottom: 10px; }

  .main {
    padding: 0; }

  .screens {
    padding: 0; }
    .screens .term {
      width: 100%;
      height: 310px; }
      .screens .term code {
        font-size: 11px !important; }
    .screens .videoscreens {
      width: 100%;
      height: 0;
      padding-bottom: 50%; }
      .screens .videoscreens .doll {
        top: 80%;
        left: 30%; }
      .screens .videoscreens .playmobil .video-screen .face {
        width: 80% !important; }
      .screens .videoscreens .video-screen {
        top: 10%;
        left: 27%;
        width: 40%; }
        .screens .videoscreens .video-screen .face {
          background-size: 100% !important;
          width: 100%; }

  .light {
    display: none; }

  .connection:nth-of-type(1) {
    top: 2%;
    left: 45%; }

  .connection:nth-of-type(2) {
    position: absolute;
    top: 45%;
    left: 10%;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg); }

  .connection:nth-of-type(3) {
    position: absolute;
    top: 45%;
    left: 70%;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg); }

  .connectionDot {
    font-size: 40px; }

  .overview img {
    display: block;
    float: none;
    margin: 0 auto !important; }
  .overview h1 {
    font-size: 18px;
    text-align: center; }
  .overview p {
    font-size: 14px;
    text-align: center; }

  .footer-links {
    font-size: 12px;
    padding-right: 10px !important; }

  .copyright {
    padding-left: 10px !important; }
    .copyright p {
      font-size: 12px; }

  .account .panel p {
    font-size: 10px; } }
.highlight {
  background-color: #3879D9;
  background-image: -webkit-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0, rgba(130, 202, 255, 0.3) 100%);
  padding: 0 14px !important;
  color: #fff;
  margin-bottom: 5px; }

@media (max-width: 915px) {
  .top-bar {
    padding: 0 5% !important; }

  .demos .demo {
    width: 100%; } }
@media all and (max-width: 640px) and (min-width: 460px) {
  .connectionDot {
    font-size: 55px; }

  .connection:nth-of-type(1) {
    top: 10%;
    left: 45%; }

  .connection:nth-of-type(2) {
    position: absolute;
    top: 55%;
    left: 10%;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg); }
    .connection:nth-of-type(2) .one {
      display: none; }

  .connection:nth-of-type(3) {
    position: absolute;
    top: 55%;
    left: 70%;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg); } }
@media all and (max-width: 460px) {
  .connection:nth-of-type(1) {
    left: 43% !important; }

  .connection:nth-of-type(2) {
    left: 5%; }
    .connection:nth-of-type(2) .eight {
      display: none; }

  .connection:nth-of-type(3) {
    left: 65%; }
    .connection:nth-of-type(3) .one {
      display: none; }

  .doll {
    left: 25% !important; } }
@media all and (max-width: 915px) {
  .top-bar {
    padding: 0; }
    .top-bar .namelogo {
      width: 140px;
      font-size: 12px; }

  .top-bar-section li > a {
    padding: 0 5px !important; } }
@media all and (max-width: 1020px) {
  .videoscreens {
    margin: 30px auto; } }

/*# sourceMappingURL=app.css.map */
