@import url("../../bower_components/foundation/css/foundation.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@font-face {
  font-family: 'GothamXLight';
  src: asset-url("assets/fonts/Gotham-XLight.otf");
  font-weight: light;
  font-style: normal; }
@font-face {
  font-family: 'BrandonGrotesque';
  src: url("../assets/fonts/brandon_re.ttf");
  font-weight: regular;
  font-style: normal; }
.main {
  padding: 0 180px; }

.row {
  max-width: 70rem; }

.top-bar {
  background: #fff;
  height: 70px;
  padding: 0px 170px; }
  .top-bar .namelogo {
    content: url("../assets/img/icecomm-logo-lg.png");
    width: 180px; }
  .top-bar .top-bar-section ul {
    padding: 15px 0px 10px 0px; }
    .top-bar .top-bar-section ul a {
      font-family: 'Open Sans', sans-serif !important; }
    .top-bar .top-bar-section ul.left {
      padding-left: 30px; }
  .top-bar li:not(.has-form) a:not(.button) {
    background: #fff;
    color: #333; }

.hero {
  text-align: center; }
  .hero .intro-text {
    color: #333;
    font-family: 'BrandonGrotesque';
    font-size: 40px; }
  .hero .sub-intro-text {
    font-size: 16px; }

.screens {
  padding: 50px 50px 0 50px; }
  .screens .term {
    margin: 0 auto;
    width: 400px;
    height: 250px; }

body {
  font-weight: 400;
  background-color: #fff; }

.button-group li {
  padding-top: 3%; }

.button-group a {
  color: black;
  background-color: transparent; }

.button-group a:hover {
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent; }

.button-group {
  float: none; }

@media only screen and (min-width: 40.063em) {
  .button-group {
    float: right; } }
.namelogo {
  padding: 20px 0px 10px 0; }

@media only screen and (min-width: 40.063em) {
  .namelogo {
    padding-bottom: 20px; } }
.namelogo h1 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center; }

@media only screen and (min-width: 40.063em) {
  .namelogo h1 {
    font-size: 16px;
    text-align: left; } }
@media only screen and (min-width: 64.063em) {
  .namelogo h1 {
    font-size: 24px;
    text-align: left; } }
@media only screen and (min-width: 40.063em) {
  .intro-text {
    padding-top: 25%; } }
@media only screen and (min-width: 64.063em) {
  .intro-text {
    padding-top: 18%; } }
.intro-text p {
  font-family: 'Shadows Into Light',cursive;
  font-size: 44px; }

.about, .work, .contact {
  padding: 50px 0 0; }

.about img {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px; }

.work img:hover {
  opacity: .5;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: 0.3s ease; }

.work li {
  height: 140px;
  overflow: hidden; }

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  opacity: 0.8; }

footer {
  padding: 80px 0 10px; }

footer a:hover {
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent; }

.term, .term .chrome, .term .chrome {
  border: solid 2px #777; }

.term {
  display: block;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: left; }
  .term .shell {
    min-height: 130px;
    overflow: hidden; }
  .term .chrome {
    height: 34px;
    padding-left: 10px;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none; }
    .term .chrome .btn {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 100%; }
  .term .chrome:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .term .shell {
    padding: 10px;
    color: #777; }
  .term .workshopper {
    background: #F8F0BD;
    padding: 2px; }

code {
  border: none; }

.term .workshopper code {
  border: 0 none; }

.term code {
  display: block;
  margin: 12px 0;
  padding: 4px 10px;
  border-left: 8px solid #82CAFF;
  border-radius: 0;
  background: none; }

.term .chrome .btn:hover {
  border-color: #404040; }

.term .chrome .btn.close {
  background: #DF7065; }

.term .chrome .btn.max {
  background: #5BCC8B; }

.term .chrome .btn.min {
  background: #E6BB46; }

.term.max {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: none; }

.term.min {
  position: absolute;
  bottom: 0; }

.term.min .shell {
  min-height: 0;
  height: 0;
  padding: 0; }

.term.min .chrome {
  border: 0 none; }

/*# sourceMappingURL=app.css.map */
