<footer class="row">
  <div class="large-6 small-4 columns copyright">
    <p>© Icecomm | Built by: <a href="http://github.com/azai91">Alex</a>, <a href="http://github.com/willsen">Will</a>, <a href="http://github.com/nmandel">Nick</a>, <a href="http://github.com/trizko">Tony</a></p>
  </div>
    
  <div class="large-6 small-8 columns">
    <ul class="inline-list right footer-links">
      <li><a href="/credits">Credits</a></li>
      <li><a href="mailto:icecomm.io@gmail.com">icecomm.io@gmail.com</a></li>
    </ul>
  </div>
</footer>
