<div ng-controller="TopBarDemoCtrl">
  <top-bar>
    <ul class="title-area">
      <li class="name">
        <a href="/"><div class="namelogo"></div></a>
      </li>
      <li toggle-top-bar class="menu-icon"><a href="/">Menu</a></li>
    </ul>

    <top-bar-section>
      <ul class="right" ng-controller="UsernameCtrl">
        <li class="hello-username"><a href="/account">Hello {{user}}</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>

      <ul class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/getting-started">Getting started</a></li>
        <li><a href="/docs">Docs</a></li>
      </ul>

    </top-bar-section>
  </top-bar>
</div>
