<!-- Navbar -->
<!-- <div class="row navbar">
  <a href="#">
    <div class="small-12 medium-4 large-6 columns namelogo"></div>
  </a>
  <div class="small-12 medium-8 large-6 columns">
    <div class="nav-bar">
      <ul class="button-group">
      <li><a href="#/login" class="button">Login</a></li>
      <li><a href="#/signup" class="button">Signup</a></li>
      </ul>
    </div>
  </div>
</div>
 -->

 <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="#"><div class="namelogo"></div></a>
      <!-- <h1>My Site</a></h1> -->
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Home</a></li>
      <li><a href="#/getting-started">Getting started</a></li>
      <li><a href="#/docs">Docs</a></li>
    </ul>
  </section>
</nav>