 <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="#"><div class="namelogo"></div></a>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" ng-controller="UsernameCtrl">
      <li><a>Hello {{user}}</a></li>
      <li><a href="#/login">Login</a></li>
      <li><a href="#/signup">Signup</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Home</a></li>
      <li><a href="#/getting-started">Getting started</a></li>
      <li><a href="#/docs">Docs</a></li>
    </ul>
  </section>
</nav>