@import url("../../bower_components/foundation/css/foundation.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

@font-face {
  font-family: 'GothamXLight';
  src: asset-url('assets/fonts/Gotham-XLight.otf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../assets/fonts/brandon_re.ttf');
  font-weight: regular;
  font-style: normal;
}


.main {
  padding: 0 180px;
}

.row {
  max-width: 70rem;
}

.top-bar {
  background: #fff;
  height: 70px;
  padding: 0px 170px;
  .namelogo {
    content: url('../assets/img/icecomm-logo-lg.png');
    width: 180px;
  }
  .top-bar-section {
    ul {      
      padding: 15px 0px 10px 0px; 
      a {
        font-family: 'Open Sans', sans-serif !important;
      }
      &.left {
        padding-left: 30px;  
      }
    }
  }
  li:not(.has-form) a:not(.button) {
    background: #fff;
    color: #333;
  }
}

.hero {
    text-align:center;
    .intro-text {
      color: #333;
      font-family: 'BrandonGrotesque';
      font-size: 40px;
    }
    .sub-intro-text {
      font-size: 16px; 
    }
}

.screens {
  padding: 50px 50px 0 50px;
  .term {
    margin: 0 auto;
    width: 400px;
    height: 290px;
  }
}

// .main {
//   padding-top: 70px;
// }

// .fixed {
//   background: white;
//   opacity: 0.95;
//   height: 70px;
// }
body {
  // font-family:'Raleway',Helvetica,Arial,sans-serif;
  font-weight:400;
  background-color:#fff;
}

.button-group li {
  padding-top:3%
}

.button-group a {
  color:rgba(0,0,0,1);
  background-color:transparent
}

.button-group a:hover {
  color:rgba(0,0,0,0.4);
  background-color:transparent
}

.button-group {
  float:none
}

@media only screen and (min-width: 40.063em) {
.button-group {
  float:right
}
}

.namelogo {
  padding:20px 0px 10px 0
}

@media only screen and (min-width: 40.063em) {
.namelogo {
  padding-bottom:20px
}
}

.namelogo h1 {
  font-size:1.5em;
  font-weight:600;
  text-align:center
}

@media only screen and (min-width: 40.063em) {
.namelogo h1 {
  font-size:16px;
  text-align:left
}
}

@media only screen and (min-width: 64.063em) {
.namelogo h1 {
  font-size:24px;
  text-align:left
}
}

@media only screen and (min-width: 40.063em) {
.intro-text {
  padding-top:25%
}
}

@media only screen and (min-width: 64.063em) {
.intro-text {
  padding-top:18%
}
}

.intro-text p {
  font-family:'Shadows Into Light',cursive;
  font-size:44px
}

.about,.work,.contact {
  padding:50px 0 0
}

.about img {
  width:250px;
  height:250px;
  border-radius:150px;
  -webkit-border-radius:150px;
  -moz-border-radius:150px
}

.work img:hover {
  opacity:.5;
  -webkit-transition:.3s ease;
  -moz-transition:.3s ease;
  -ms-transition:.3s ease;
  -o-transition:.3s ease;
  transition:.3s ease
}

.work li {
  height:140px;
  overflow:hidden
}

hr {
  border:0;
  height:1px;
  background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  opacity:.8
}

footer {
  padding:80px 0 10px
}

footer a:hover {
  color:rgba(0,0,0,0.4);
  background-color:transparent
}



.term,.term .chrome,.term .chrome {
  border:solid 2px #777
}

.term {
  display:block;
  border-radius:4px;
  margin-bottom:10px;
  text-align:left;
  .shell {
    div:nth-child(2) > & {
      padding: 20px 30px;
    }
    min-height:130px;
    overflow:hidden;
    .video-screen {
      position: relative;
      border-radius:4px;
      width: 150px;
      height: 120px;
      // background: #F7F7F7;
      border-bottom:8px solid #82CAFF;
      padding: 20px;
      border-radius: 0px;
      &:nth-child(1){
        float: left;
        background: url('../assets/img/lego-full-lg.png') no-repeat center;
        background-size: 84px 67px;
      }
      &:nth-child(2){
        float: right;
        background: url('../assets/img/playmobil-full.png') no-repeat center;
        background-size: 77px 70px;
      }
    }
  }
  .chrome {
    height:34px;
    padding-left:10px;
    border-top:0 none;
    border-right:0 none;
    border-left:0 none;
    .btn {
      display:inline-block;
      vertical-align:middle;
      width:8px;
      height:8px;
      border-radius:100%;
    }
  }
  .chrome:before {
    content:" ";
    display:inline-block;
    height:100%;
    vertical-align:middle;
  }
  .shell {
    padding:10px;
    color:#777
  }

  .workshopper {
    background:#F8F0BD;
    padding:2px
  }

}

code {
    border: none;
    font-size: 13px !important;
  }






.term .workshopper code {
  border:0 none
}

.term code {
  display:block;
  margin:12px 0;
  padding:4px 10px;
  border-left:8px solid #82CAFF;
  border-radius:0;
  background:none
}

.term .chrome .btn:hover {
  border-color:#404040
}

.term .chrome .btn.close {
  background: #DF7065
}

.term .chrome .btn.max {
  background:#5BCC8B
}

.term .chrome .btn.min {
  background:#E6BB46
}

.term.max {
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  max-width:none
}

.term.min {
  position:absolute;
  bottom:0
}

.term.min .shell {
  min-height:0;
  height:0;
  padding:0
}

.term.min .chrome {
  border:0 none
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
