@import url("../../bower_components/foundation/css/foundation.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

@font-face {
  font-family: 'GothamXLight';
  src: asset-url('assets/fonts/Gotham-XLight.otf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../assets/fonts/brandon_re.ttf');
  font-weight: regular;
  font-style: normal;
}




.top-bar {
  background: #fff;
  height: 70px;
  padding: 0px 170px;
  .namelogo {
    content: url('../assets/img/icecomm-logo-lg.png');
    width: 180px;
  }
  .top-bar-section {
    ul {      
      padding: 15px 0px 10px 0px; 
      a {
        font-family: 'Open Sans', sans-serif !important;
      }
      &.left {
        padding-left: 30px;  
      }
    }
  }
  li:not(.has-form) a:not(.button) {
    background: #fff;
    color: #333;
  }
}

.hero {
    text-align:center;
    .intro-text {
      color: #333;
      font-family: 'BrandonGrotesque';
      font-size: 40px;
    }
    .sub-intro-text {
      font-size: 16px; 
    }
}

// .main {
//   padding-top: 70px;
// }

// .fixed {
//   background: white;
//   opacity: 0.95;
//   height: 70px;
// }
body {
  // font-family:'Raleway',Helvetica,Arial,sans-serif;
  font-weight:400;
  background-color:#fff;
}

.button-group li {
  padding-top:3%
}

.button-group a {
  color:rgba(0,0,0,1);
  background-color:transparent
}

.button-group a:hover {
  color:rgba(0,0,0,0.4);
  background-color:transparent
}

.button-group {
  float:none
}

@media only screen and (min-width: 40.063em) {
.button-group {
  float:right
}
}

.namelogo {
  padding:20px 0px 10px 0
}

@media only screen and (min-width: 40.063em) {
.namelogo {
  padding-bottom:20px
}
}

.namelogo h1 {
  font-size:1.5em;
  font-weight:600;
  text-align:center
}

@media only screen and (min-width: 40.063em) {
.namelogo h1 {
  font-size:16px;
  text-align:left
}
}

@media only screen and (min-width: 64.063em) {
.namelogo h1 {
  font-size:24px;
  text-align:left
}
}

.hero {
  background: #fff;
  background-size:cover;
  height:600px
}

// .in/tro-text {
//   padding-top:40%;
//   color:rgba(255,255,255,1);
//   text-align:center;
//   font-family: 'GothamXLight';
// }

@media only screen and (min-width: 40.063em) {
.intro-text {
  padding-top:25%
}
}

@media only screen and (min-width: 64.063em) {
.intro-text {
  padding-top:18%
}
}

.intro-text p {
  font-family:'Shadows Into Light',cursive;
  font-size:44px
}

.about,.work,.contact {
  padding:50px 0 0
}

.about img {
  width:250px;
  height:250px;
  border-radius:150px;
  -webkit-border-radius:150px;
  -moz-border-radius:150px
}

.work img:hover {
  opacity:.5;
  -webkit-transition:.3s ease;
  -moz-transition:.3s ease;
  -ms-transition:.3s ease;
  -o-transition:.3s ease;
  transition:.3s ease
}

.work li {
  height:140px;
  overflow:hidden
}

hr {
  border:0;
  height:1px;
  background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  opacity:.8
}

footer {
  padding:80px 0 10px
}

footer a:hover {
  color:rgba(0,0,0,0.4);
  background-color:transparent
}


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
