@import url("../../bower_components/foundation/css/foundation.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import "../bourbon/bourbon";

@font-face {
  font-family: 'GothamXLight';
  src: asset-url('assets/fonts/Gotham-XLight.otf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../assets/fonts/brandon_re.ttf');
  font-weight: regular;
  font-style: normal;
}

$topCodeTimeDelay: 0s;
$middleCodeTimeDelay: 2s;
$bottomCodeTimeDelay: 4s;
$themeColor: #82CAFF;
$secondaryColor: #3879D9;

//#72649f

body {
    font-size: 24px;
}

.main {
  min-height: 100%;
  padding-top: 50px;
}

.row {
  max-width: 70rem;
}

.top-bar {
  background: #fff;
  height: 70px;
  padding: 25px 10% 0 10%;
  .title-area {
    flat: left;
  }
  .namelogo {
    content: url('../assets/img/icecomm-logo-lg.png');
    width: 180px;
    padding-bottom: 20px;
  }
  .top-bar-section {
    ul {
      padding: 15px 0px 10px 0px;
      width: auto;
      height: auto !important;
      display: inline;
      a {
        font-family: 'Open Sans', sans-serif !important;
      }
      &.left {
        padding-left: 30px;
      }
    }
    .hello-username a {
      cursor: default;
      &:hover {
        background: #fff !important;
        color: #333;
      }
    }
  }
  li:not(.has-form) a:not(.button) {
    background: #fff;
    color: #333;
  }
}

.hero {
    text-align:center;
    .intro-text {
      color: #333;
      font-family: 'BrandonGrotesque';
      font-size: 40px;
      padding-top: 7%;
    }
    .sub-intro-text {
      font-size: 16px;
    }
}

.screens {
  padding: 50px 50px 0 50px;
  .term {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }
}
body {
  font-weight:400;
  background-color:#fff;
}


///////////////////////////////////
//////////// Footer ///////////////
///////////////////////////////////

.footer {
  padding-bottom: 40px;
  background: #333;
  color: #fff;
  font-family: 'Open Sans', sans-serif;

  p {
    margin-bottom: 0;
    position: relative;
    @include transform(translateY(80%));
  }
  li > a {
    color: #fff;
  }
  .inline-list {
    margin-bottom: 0;
    position: relative;
    @include transform(translateY(80%));
  }
  div > div > div {
    width: 50%;
  }
  .footer-links {
    padding-right: 50px;
  }
  .copyright {
    padding-left: 50px;
  }
}



@media only screen and (min-width: 40.063em) {
.button-group {
  float:right
}
}

.namelogo {
  padding:20px 0px 10px 0
}

@media only screen and (min-width: 40.063em) {
.namelogo {
  padding-bottom:20px
}
}

.namelogo h1 {
  font-size:1.5em;
  font-weight:600;
  text-align:center
}

@media only screen and (min-width: 40.063em) {
.namelogo h1 {
  font-size:16px;
  text-align:left
}
}

@media only screen and (min-width: 64.063em) {
.namelogo h1 {
  font-size:24px;
  text-align:left
}
}

@media only screen and (min-width: 40.063em) {
.intro-text {
  padding-top:25%
}
}

@media only screen and (min-width: 64.063em) {
.intro-text {
  padding-top:18%
}
}

hr {
  border:0;
  height:1px;
  background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  opacity:.8
}

///////////////////////////////////
///Terminal window on homepage ////
///////////////////////////////////

.term,.term .chrome,.term .chrome {
  border:solid 2px #777
}

.term {
  display:block;
  border-radius:4px;
  margin-bottom:10px;
  text-align:left;
  .shell {
    min-height:130px;
    overflow:hidden;
  }
  .chrome {
    height:34px;
    padding-left:10px;
    border-top:0 none;
    border-right:0 none;
    border-left:0 none;
    .btn {
      display:inline-block;
      vertical-align:middle;
      width:8px;
      height:8px;
      border-radius:100%;
    }
  }
  .chrome:before {
    content:" ";
    display:inline-block;
    height:100%;
    vertical-align:middle;
  }
  .shell {
    padding:10px;
    color:#777
  }

  .workshopper {
    background:#F8F0BD;
    padding:2px
  }

}

code {
  border: none;
  font-size: 13px !important;
}

.term .workshopper code {
  border:0 none
}

.term code {
  display:block;
  margin:12px 0;
  padding:4px 10px;
  border-left:8px solid $themeColor;
  border-radius:0;
  background:none
}

.term .chrome .btn:hover {
  border-color:#404040
}

.term .chrome .btn.close {
  background: #DF7065
}

.term .chrome .btn.max {
  background:#5BCC8B
}

.term .chrome .btn.min {
  background:#E6BB46
}

.term.max {
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  max-width:none
}

.term.min {
  position:absolute;
  bottom:0
}

.term.min .shell {
  min-height:0;
  height:0;
  padding:0
}

.term.min .chrome {
  border:0 none
}

.light {
  background: #5BCC8B;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  top: -26px;
  left: 36px;
}

///////////////////////////////////
///Video screens on homepage //////
///////////////////////////////////

.videoscreens {
  position: relative;
  width: 500px;
  height: 290px;
  margin: 0 auto;
  .screen {
    background: url('../assets/img/laptop-screen.png') no-repeat;
    background-size: 95%;
    width: 46.3%;
    height: 8.95rem;
  }
  .lego {
    position: absolute;
    .video-screen .face {
      background: url('../assets/img/lego.png') no-repeat;
      background-size: 80px 67px;
    }
  }
  .playmobil {
    position: absolute;
    right: 0;
    .video-screen .face {
      background: url('../assets/img/kimono.png') no-repeat;
      background-size: 74px 77px;
    }
  }
  .doll {
    position: absolute;
    top: 10rem;
    left: 9rem;
    .video-screen .face {
      background: url('../assets/img/playmobil.png') no-repeat;
      background-size: 80px 67px;
    }
  }
  .video-screen {
    position: relative;
    top: 30px;
    left: 63px;
    .face {
      position: absolute;
      
      
      width: 100px;
      height: 100px;
    }
  }
}

.connection:nth-of-type(1) {
  position: absolute;
  top: 10px;
  left: 225px;
}.connection:nth-of-type(2) {
  position: absolute;
  top: 130px;
  left: 65px;
  @include transform(rotate(40deg))
}
.connection:nth-of-type(3) {
  position: absolute;
  top: 130px;
  left: 360px;
  @include transform(rotate(-40deg))
}

.connectionDot {
  color: $themeColor;
  opacity: 0;
  position: relative;
  font-size: 55px;
  font-family: 'BrandonGrotesque' !important;
}

///////////////////////////////////
///// Overview on homepage ////////
///////////////////////////////////




.overview {
  padding: 150px 0 0 0;
  color: #333;
  font-family: 'Open Sans', sans-serif !important;
  & + & {
    padding: 0;
  }
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  img {
      float: left;
      width: 75px;
      height: 75px;
      margin: 5px 20px 0px 0px;
    }
  
  .columns {
    margin-bottom: 100px;
  }
  .medium-6 {
    padding-right: 50px;
  }
}


///////////////////////////////////
///////////// Demos ///////////////
///////////////////////////////////

.demos {
  padding: 40px 15%;
  position: relative;
  height: 1500px;
  .demo {
    width: 500px;
    position: relative;
    margin: 0 auto;
    .img {
      position: relative;
      margin: 0 auto;
    }
    .caption {
      text-align: center;
    }
  }
}

.appearin {
  
  .img {
    background: url('../assets/img/appearin.png') no-repeat;
    background-size: 95%;
    width: 450px;
    height: 319px;  
  }
}
.fileshare {
  .img {
    background: url('../assets/img/fileshare.png') no-repeat;
    background-size: 95%;
    width: 450px;
    height: 319px;  
  }
}
.youtube {
  .img {
    background: url('../assets/img/youtube.png') no-repeat;
    background-size: 95%;
    width: 450px;
    height: 319px;  
  }
}
.tictactoe {
  .img {
    background: url('../assets/img/tictactoe.png') no-repeat;
    background-size: 95%;
    width: 450px;
    height: 319px;  
  }
}
///////////////////////////////////
//////////Getting started /////////
///////////////////////////////////

.getting-started {
  padding: 0 8% 100px 8%;
}

///////////////////////////////////
/////////// Login page ////////////
///////////////////////////////////

.login-form {
  padding: 50px 0;
  // margin: 0 auto;
}

.panel {
  width: 430px;
  margin: 0 auto;
  background: #fff;
  border: none;
  float: none;
  max-width: 100%;
  h1 {
    text-align: center;
    font-size: 24px;
    color: $secondaryColor;
    font-weight: 200;
    letter-spacing: 1px;
  }
  p {
    font-size: 12px;
    color: #333;
    padding: 20px 0;
    text-align: center;
  }
  form {
    font-family: 'Open Sans', sans-serif !important;
    padding: 10px 15px;
    div {
      margin-bottom: 20px;
    }
    label {
      text-align: left;
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }
    .input-icon {
      position: relative;
    }
    .input-icon>span {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      line-height: 16px;
      img, .fa {
        border-right: 1px solid #cbcbd2;
        padding: 0px 8px 0px 4px;

        color: $secondaryColor;
        position: relative;
      }
      .fa-email {
        font-weight: 700;
      }
    }
    button {
      width: 100%;
      color: #fff;
      // background-color: #79589f;
      background-color: $secondaryColor;
      background-image: -webkit-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0, rgba(130,202,255,0.3) 100%);

      // background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
      border-radius: 5px;
      border: none;
      padding-left: 18px;
      padding-right: 18px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-color: #79589f;

    }
  }
  input {
    box-shadow: inset 0 1px 2px rgba(203,203,210,0.4);
    height: 44px;
    padding-left: 48px !important;
    color: #3f3f44;
    border: 1px solid #cbcbd2;
    border-radius: 4px;
    &:focus {
      background: #fff !important;
    }
  }
  .panel-footer {
    padding: 20px;
    display: block;
    font-size: 17px;
    color: #878797;
    font-weight: 200;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    span {
      color: $secondaryColor;
      text-decoration: underline;
    }
  }
}

input[type=text], textarea {
  @include transition(all 0.30s ease-in-out);
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  // box-shadow: 0 0 5px #72649f;
  box-shadow: 0;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $secondaryColor;
}


///////////////////////////////////
////////// Account page ///////////
///////////////////////////////////

.account {
  .panel {
    padding-top: 80px;
  }
}

button {
  width: 100%;
  color: #fff;
  background-color: $secondaryColor;
  background-image: -webkit-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0, rgba(130,202,255,0.3) 100%);
  // background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
  border-radius: 5px;
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-color: #79589f;

}

///////////////////////////////////
////// Password/email status //////
///////////////////////////////////

.alert {
  background-color: #d64242;
  border-color: #d64242;
  color: #FFF;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857;
}

.notify {
  background-color: #333;
  border-color: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857;
}

///////////////////////////////////
/////// Animations ////////////////
///////////////////////////////////

.blink_me {
  @include animation-name(blinker);
  @include animation-duration(1s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
}

@include keyframes(blinker) {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


@include keyframes(slideInRight) {
  0% {
    transform: translateX(110%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
  }
}

.slideInRightTop {
  @include animation-duration(1s);
  @include animation-name(slideInRight);
  @include animation-fill-mode(both);
  @include animation-delay($topCodeTimeDelay);
}

.slideInRightMiddle {
  @include animation-duration(1s);
  @include animation-name(slideInRight);
  @include animation-fill-mode(both);
  @include animation-delay($middleCodeTimeDelay);
}
.slideInRightBottom {
  @include animation-duration(1s);
  @include animation-name(slideInRight);
  @include animation-fill-mode(both);
  @include animation-delay($bottomCodeTimeDelay);
}

@include keyframes(fadeIn) {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  @include animation-name(fadeIn);
  @include animation-duration(200ms);
  @include animation-delay(3s);
  @include animation-fill-mode(both);
}

.fadeInSecond {
  @include animation-name(fadeIn);
  @include animation-duration(400ms);
  @include animation-delay(5s);
  @include animation-fill-mode(both);
}


@include keyframes(shake) {
  0%, 100% {
    @include transform(translate3d(0, 0, 0));
  }

  10%, 30%, 50%, 70%, 90% {
    @include transform(translate3d(-10px, 0, 0));
  }

  20%, 40%, 60%, 80% {
    @include transform(translate3d(10px, 0, 0));
  }
}

.shake {
  @include animation(shake 2.3s);
}

.one {
    @include animation(dot 1.3s infinite);
    @include animation-delay(50ms);
}

.two {
    @include animation(dot 1.3s infinite);
    @include animation-delay(100ms);
}

.three {
    @include animation(dot 1.3s infinite);
    @include animation-delay(150ms);
}
.four {
    @include animation(dot 1.3s infinite);
    @include animation-delay(200ms);
}
.five {
    @include animation(dot 1.3s infinite);
    @include animation-delay(250ms);
}
.six {
    @include animation(dot 1.3s infinite);
    @include animation-delay(300ms);
}
.seven {
    @include animation(dot 1.3s infinite);
    @include animation-delay(350ms);
}
.eight {
    @include animation(dot 1.3s infinite);
    @include animation-delay(400ms);
}

@include keyframes(dot) {
      0% { opacity: 0.01; }
     50% { opacity: 0.3; }
    100% { opacity: 1; }
}



///////////////////////////////////
////////Responsive styles /////////
///////////////////////////////////


@media all and (max-width: 640px) {
  .top-bar {
    padding: 0px;
    height: 45px;
    .namelogo {
      width: 130px;
      padding-top: 12px;
    }
    .name {
      background: #fff;
    }
    .right {
      float:none !important;
    }
    .left {
      padding-left: 0px !important;
    }
    .top-bar-section ul {
      width: 100%;
      padding-top: 0px;
    }
    .hello-username {
      display: none;
    }
  }
  .hero {
    .intro-text {
      font-size: 30px;
      padding-bottom: 10px;
    }
    .sub-intro-text {
      font-size: 11px;
      padding-bottom: 10px; 
    }
  }
  .main {
    padding: 0;
  }
  .screens {
    padding: 0;
    .term {
      width: 100%;
      height: 310px;
      code {
        font-size: 11px !important;
      }
    }
    .videoscreens {
      width: 100%;
      height: 0;
      padding-bottom: 50%;
      .doll {
        top: 80%;
        left: 30%;
      }
      .playmobil {
        .video-screen .face {
          width: 80% !important;
        }
      }
      .video-screen {
        top: 10%;
        left: 27%;
        width: 40%;
        .face {
          background-size: 100% !important;
          width: 100%;
        }
      }
    }
  }
  .light {
    display: none;
  }

  .connection:nth-of-type(1) {
    top: 2%;
    left: 45%;
  }.connection:nth-of-type(2) {
    position: absolute;
    top: 45%;
    left: 10%;
    @include transform(rotate(40deg));
  }
  .connection:nth-of-type(3) {
    position: absolute;
    top: 45%;
    left: 70%;
    @include transform(rotate(-40deg))
  }
  .connectionDot {
    font-size: 40px;
  }
  .overview {
    img {
      display: block;
      float: none;
      margin: 0 auto !important;
    }
    h1 {
      font-size: 18px;
      text-align: center;
    }
    p {
      font-size: 14px;
      text-align: center;
    }
  }
  .footer-links {
    font-size: 12px;
    padding-right: 10px !important;
  }
  .copyright {
    padding-left: 10px !important;
    p {
      font-size: 12px;  
    }
  }
  .account {
    .panel {
      p {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 915px) {
  .top-bar {
  padding: 0 5% !important;
  }
}

@media all and (max-width: 640px) and (min-width: 460px) {
  .connectionDot {
    font-size: 55px;
  }
  .connection:nth-of-type(1) {
    top: 10%;
    left: 45%;
  }.connection:nth-of-type(2) {
    position: absolute;
    top: 55%;
    left: 10%;
    @include transform(rotate(40deg));
    .one {
      display: none;
    }
  }
  .connection:nth-of-type(3) {
    position: absolute;
    top: 55%;
    left: 70%;
    @include transform(rotate(-40deg))
  }
}

@media all and (max-width: 460px) {
  .connection:nth-of-type(1) {
    left: 43% !important;
  }
  .connection:nth-of-type(2) {
    left: 5%;
    .eight {
      display: none;
    }
  }
  .connection:nth-of-type(3) {
    left: 65%;
    .one {
      display: none;
    }
  }
  .doll {
    left: 25% !important;
  }
}

@media all and (max-width: 915px) {
  .top-bar {
    padding: 0;
    .namelogo {
      width: 140px;
      font-size: 12px;
    }
  }
  .top-bar-section {
    li > a {
      padding: 0 5px !important;
    }
  }
}

@media all and (max-width: 1020px) {
  .videoscreens {
    margin: 30px auto;
  }
}


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
